<section class="clients grid-sm">
  <h2 class="h2">Happy Clients</h2>
  <div class="client-logo-container">
    <!-- Show brand icon for each client (brand1, brand2, brand3) -->
    <img
      src="/brand1.svg"
      alt="brand1"
      width="100"
      height="100"
      loading="lazy"
      class="client-logo"
    />
    <img
      src="/brand2.svg"
      alt="brand2"
      width="100"
      height="100"
      loading="lazy"
      class="client-logo"
    />
    <img
      src="/brand3.svg"
      alt="brand3"
      width="100"
      height="100"
      loading="lazy"
      class="client-logo"
    />
    <img
      src="/brand4.svg"
      alt="brand4"
      width="100"
      height="100"
      loading="lazy"
      class="client-logo"
    />
    <img
      src="/brand5.svg"
      alt="brand5"
      width="100"
      height="100"
      loading="lazy"
      class="client-logo"
    />
    <img
      src="/brand6.svg"
      alt="brand6"
      width="100"
      height="100"
      loading="lazy"
      class="client-logo"
    />
  </div>
</section>
