---
import "../styles/global.css";
import Button from "./Button.astro";
---

<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Your Kind of Designer</h1>
    <p class="text-muted narrow">
      I am a designer who loves to create beautiful and functional designs.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit nam ad est
      tempora, sed architecto eveniet temporibus! Architecto inventore dicta
      quibusdam unde reiciendis a quo qui impedit ab, iure eum.
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary" />
    <small class="text-muted">No commitment. Cancel anytime.</small>
  </div>
</header>
