---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://unpkg.com/open-props" />
    <title>Design Landing Page</title>
  </head>
  <body>
    <Navbar />
    <div class="wrapper">
      <main>
        <slot />
      </main>
      <footer class="blur">
        <small>
          Copyright &copy; <span id="copyrightyear"></span> Desgn
        </small>
      </footer>
    </div>
    <script>
      const currentYear = new Date().getFullYear();
      document.getElementById("copyrightyear").textContent = currentYear;
    </script>
  </body>
</html>
