---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Design Landing Page</title>
    <style>
      @import url("../styles/global.css");
    </style>
  </head>
  <body>
    <div class="wrapper">
      <Navbar />
      <main>
        <slot />
      </main>
      <footer class="blur">
        <small>Copyright &copy; <span id="copyrightyear"></span> Desgn</small>
      </footer>
    </div>
    <script>
      // Get the current year
      const currentYear = new Date().getFullYear();
      // Set the copyright year in the footer
      document.getElementById("copyrightyear")!.textContent =
        currentYear.toString();
    </script>
  </body>
</html>
